body {
	background-image: url('bg img.jpg');
	background-repeat:no-repeat;
	margin: 0 auto;
	padding: 0;
	height: auto;
	background-attachment:fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a:link, a:visited { /*header hyperlink*/
	color: #FFFF00;
	text-decoration:none; /*avoid underline*/
}
a:hover {
	color:#58FAF4;
}
a:active {
	color:fuchsia;
}

/*ADJUST SCROLLBAR*/
::-webkit-scrollbar {
height:12px;
width: 12px;
background: #DA81F5;
}

::-webkit-scrollbar-thumb { /*scollbar controller*/
background-color: #FA5882;
border-radius: 10px;
height:80px; 
}

#wrapper {
	width:100%;
	margin-left:auto;
	margin-right: auto;
}

#logo { /*HEADER COVER*/
	width:50%;
	height:10%;
	margin-top: 2%;
	margin-left: 10px;
	background-repeat: no-repeat;
}

#container {
	width: 80%;
	height: auto;
	margin: 0 auto; /*center*/
	padding: 0 20px;
	background-color: rgba(255, 247, 129, 0.8); /*R,G,B = color ///// 0.6 = opacity //// THIS OPACITY DOES MAKE EVERYTHING CHANGE*/
	-moz-box-shadow:inset 0 0 100px red; /*ALLOW USER TO VIEW SHADOW ON MOZILA EXPLORER*/
	-webkit-box-shadow:inset 0 0 100px red; /*ALLOW USER TO VIEW SHADOW ON INTERNET EXPLORER*/
	box-shadow:inset 0 0 100px red; /*ALLOW USER TO VIEW SHADOW ON GOOGLE CHROME*/
}

#content-content{
	width: 95%;
	height: auto;
	font-family:"Times New Roman", Times, serif;
	margin-left: auto;
	margin-right:auto;
}

/*FIXED HEADER*/
#header {
	height: 50px;
	width: 100%;
	position: fixed;
	background-image: url('header.jpg');
	top:0;
	opacity:0.95;
	-moz-box-shadow:inset 0 0 45px white; /*ALLOW USER TO VIEW ON MOZILA EXPLORER*/
	-webkit-box-shadow:inset 0 0 45px white; /*ALLOW USER TO VIEW ON INTERNET EXPLORER*/
	box-shadow:inset 0 0 45px pink; /*ALLOW USER TO VIEW ON GOOGLE CHROME*/
	-webkit-background-size: cover; /*TO COVER THE WHOLE PAGE*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
	
/*HEADER MENU STYLE*/
#header-menu{
	width:100%;
	text-align: center;
	word-spacing:10px;
}

#header-menu ul li{ /*main*/
	display: inline-block;
	margin: 0 1%; /*to make border margin(width of border) 0 10px*/
	position: relative;
	padding: 4px;
	/*cursor:pointer;	*/
}

#header-menu ul li:hover {
/*	border: dotted 1px black; mouse over*/
	border: groove 1px yellow;

}
#header-menu ul li ul{ /*dropdown list*/
	padding: 0;
	position: absolute;
	display: none;
	width: 170px; /*dropdown border size width*/
	background-color: #FE2E64;
	border: dotted 1px red;
}

#header-menu ul li ul li{
	width: 90%;
}

#header-menu ul li:hover ul{
	display: block; /*allow to show dropdown box list when move over*/
}

/*PAGE FOOTER*/
#footer {
   position:relative; /*TO PUSH FOOTER INTO BOTTOM OF PAGE*/
   width:100%;
   height:100px;   /* Height of the footer */
   background-image: url('footer img.jpg');
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.footer-inner {
	width:30%;
	text-align: center;
	word-spacing:5px;
	height: 50px;
	margin: 0 auto;
	font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*THUMBNAILS IMAGE*/
.thumbnails img:hover {
	border: 3px dotted blue;
	cursor: pointer;
}
