#formFeedback {
                width:500px;
                margin-bottom:5%;
                margin-top:5%;
                margin-left:35%;
 }
.feedback {
                
                background:lightgray;
                border:1px solid #dbdbdb;
                width:550px;
                height: 100px;
}
.buttonFeedback {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.buttonFeedback:hover  {
                background-color:#fafafa;
                color:#207cca;
}