/*This is to change the navigational bar*/

.navbar,
.navbar.navbar-default {
    background-color: #4CAF50;
    color: #ffffff;
}


/*This is to change the hyperlink*/

a,
a:hover,
a:focus {
    color: #4CAF50;
}


/*This is to change the bold*/

b {
    color: #8BC34A;
}

